{namespace view}
/**
 * Main template
 */
{template .not_found}
  <!DOCTYPE>
  <html>
  <head>
      <title>404 Error</title>
  </head>
  <body>
  <div id="main">
  Page not found. Try to go on <a href="/view/example/">example(test)</a> page.</div>
  </body>
  </html>
{/template}
