{namespace view}
/**
 * Lays out the home page.
 */
{template .admin}
    <!DOCTYPE>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/test.css">
        <script type="text/javascript" language="javascript" src="/admincommon/admincommon.nocache.js"></script>
        <title>Admin page</title>
    </head>

    <body>
    <div id="adminContent">

    </div>
    </body>
    </html>
{/template}