{namespace view}
/**
 * Lays out the home page.
 */
{template .example}
    <!DOCTYPE>
    <html>
    <head>
        <script type="text/javascript" language="javascript" src="/common/common.nocache.js"></script>
    </head>

    <body style="font-family:arial,sans-serif;">
    <div id="content">

    </div>
    </body>
    </html>
{/template}