{namespace view}
/**
 * Lays out the home page.
 */
{template .example}
    <!DOCTYPE>
    <html>
    <head>
        <script type="text/javascript" language="javascript" src="/common/common.nocache.js"></script>
    </head>

    <body style="font-family:arial,sans-serif;">
    <footer style="background: #a4c7df;border-bottom: 1px solid black;height: 15%;">
        <h1>Project 3</h1>
    </footer>
    <div id="content">

    </div>
    </body>
    </html>
{/template}