{namespace view}
/**
 * Lays out the home page.
 */
{template .user}
    <!DOCTYPE>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/test.css">
        <script type="text/javascript" language="javascript" src="/usercommon/usercommon.nocache.js"></script>
    </head>

    <body>
    <div id="userContent">

    </div>
    </body>
    </html>
{/template}