.footer{
    width: 1980px;
    background-color: #a4c7df;
    height: 200px;
}
.menuLink{
    font-size: 1.5em;
    color: black;
    padding-bottom: 10px;
    padding-left: 10px;
}
.menuWidget{
    margin: 10px 10px;
    width: 250px;
    border: 1px solid black;
}
.menuHead{
    background-color: #a4c7df;
    border-bottom: 1px solid black;
    width: 250px;
}
.contentWidget{
    margin: 10px 10px;
    border: 1px solid black;
    width: 1000px;
}
.contentHead{
    background-color: #a4c7df;
    border-bottom: 1px solid black;
    width: 1000px;
}

/* Add task/user view specific css*/
.sucNotify {
    border-radius: 5px;
    border: 1px solid black;
    background-color: #bfe9a2;
}

.errorNotify {
    border-radius: 5px;
    border: 1px solid black;
    background-color: #e98a71;
}
.notifyLabel{
    padding: 1.5em;
}

/* Tasks/Users view specific css */
.table{
    text-align: center;
    min-width: 1000px;
    width:100%;
    background-color: aliceblue;
    margin-top: 1em;
    border-bottom: 1px solid black;
}
.tableHead{
    background-color: #a4c7df;
    padding: 10px;
}