*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #3d385a;
}
a{
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
    height: 100%;
}
.netcracker .loginBox{
    margin: auto;
    background-color: #ffffff;
}

.netcracker {
    width: 80%;
    margin: 30px auto 0 auto;
    background-color: #ffffff;
}
.netcracker .slider .tasksBox{
    background: #ffffff;
    float: right;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 29%;
}
.netcracker .slider  input[type=text]{
    border: 1px solid #e2e2f1;
    background: #ffffff;
    font-size: 1rem;
}
.netcracker .slider  input[type=password]{
    border: 1px solid #e2e2f1;
    background: #ffffff;
    font-size: 1rem;
}
.netcracker .slider button{
    display: inline-block;
    background: #5B5F97;
    border: none;
    padding: 0.5em 1em 0.5em 1em;
    color: white;
}
.netcracker .slider {
    width: 100%;
    height: 800px;
    background-color: #3d385a;
    padding: 0.5em 0 0.5em 0;
}
.netcracker .slider .searchContainer{
    height:10%;
    float: left;
    background: #ffffff;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    width: 70%;
    margin: 0 0 0.5em 0;
}
.netcracker .slider .addContainer{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 98%;
    overflow: auto;
    background: #ffffff;
}
.netcracker .slider .addContainer .addTable{
    margin-top: 30px;
    border-radius: 0.25em;
    border-collapse: collapse;
    overflow: scroll;
    cursor: pointer;
    width: 50%;
    max-height: 100%;
}
.netcracker .slider .addContainer .addTable td{
    min-width: 200px;
}
.netcracker .slider .addContainer button{
    display: inline-block;
    background: #5B5F97;
    border: none;
    padding: 0.7em 1.5em 0.7em 1.5em;
    margin: 30px 0 0 30px;
    color: white;
}
.netcracker .slider .addContainer p{
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    color: #333;
    padding: 10px 0 0 30px;
}
.netcracker .slider .block1{
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    display: inline-block;
    padding: 15px;
}
.netcracker .slider .scroll{
    overflow: auto;
    margin-bottom: 8px;
    float: left;
    height: 83%;
    width: 70%;
}
.netcracker .slider .taskScroll{
    overflow: auto;
    margin-bottom: 8px;
    float: left;
    height: 94%;
    width: 70%;
}
.netcracker .slider .flexTable{
    font-family: "Open Sans", sans-serif;
    background: #ffffff;
    border-radius: 0.25em;
    border-collapse: collapse;
    overflow: auto;
    cursor: pointer;
    width: 100%;
    max-height: 100%;
}
.netcracker .slider .flexTable td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    color:#333;
    padding: 0.2em 0.65em;
}
.netcracker .slider .flexTable tbody tr{
    transition: background 0.25s ease;
}
.netcracker .slider .flexTable .selectedItem{
    background: #e6efff;
}
.netcracker .slider .flexTable tbody tr:hover{
    background: #e6efff;
}
.netcracker .information {
    width: 100%;
    background: #ffffff ;
    padding: 5px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
}
.netcracker .statusBox {
    width: 70%;
    height: 5%;
    float: left;
    background: #ffffff ;
    padding: 5px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
}
.netcracker .statusBox .status {
    color: #333;
    font-size: 1.2rem;
    padding: 0px 10px;
    border-left: 3px solid #6495ed;
}
.netcracker .information h1 {
    color: #333;
    font-size: 1.2rem;
    padding: 0px 10px;
    border-left: 3px solid #6495ed;
}
.netcracker .information h3 {
    color: #e0e0e0;
    font-size: 1rem;
    font-weight: 300;
    padding: 0px 10px;
    border-left: 3px solid #6495ed;
}
.netcracker .information p {
    padding: 10px 0px;
}
.netcracker .menuBox{
    width: 100%;
    height: 9%;
}
.netcracker .logoutBox {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    float: left;
    text-align: right;
    font-weight: 400;
    width: 30%;
    color: #333;
    padding: 20px 30px 30px 30px;
}
.netcracker ul {
    font-size: 0;
    float: left;
    width: 70%;
    list-style-type: none;
}
.netcracker ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    display: inline-block;
    padding: 30px;
    position: relative;
}
.netcracker ul li ul {
    display: none;
}
.netcracker ul li:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}
.netcracker ul li:hover ul {
    display: block;
    margin-top: 15px;
    width: 200px;
    left: 0;
    position: absolute;
}
.netcracker ul li:hover ul li {
    display: block;
    background-color: #e7e7e7;
}
.netcracker ul li:hover ul li span {
    float: right;
    color: #f9f9f9;
    background-color: #6495ed;
    padding: 2px 5px;
    text-align: center;
    font-size: .8rem;
    border-radius: 3px;
}
.netcracker ul li:hover ul li:hover {
    background-color: #e0e0e0;
}
.netcracker ul li:hover ul li:hover span {
    background-color: #4d85ea;
}


.netcracker .slider .accordion {
    width: 100% ;
    background: #f4f4f4;
    font-family: "Open Sans", sans-serif;
}
.netcracker .slider .accordion .accordion_header{
    text-align: center;
    width: 100%;
    /*padding: 0.7rem 1.5rem;*/
}
.netcracker .slider .accordion .accordion__title {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.7rem 1.5rem;
    background: #5B5F97;
    width: 100%;
    color: white;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;

}
.netcracker .slider .accordion .accordion__title:hover {
    background: #484b77;
}
.netcracker .slider .accordion .accordion__copy {
    display: block;
    padding: 1rem 1.5rem 2rem 1.5rem;
    color: gray;
    white-space: pre;
    line-height: 1.6;
    font-size: 0.9rem;
    font-weight: 500;
}
